@{
    ViewData["Title"] = "Privacy Policy";
}



<div>
    <div class="container">
        <div class="jumbotron">
            <h2 style="color:red;text-align:center"><p>Sorry...unable to access the Services due to some Error</p></h2>
        </div>
    </div>
</div>