@model Portal.Models.Drug

@{ ViewData["Title"] = "GetDrugId"; }


<div class="login-form">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Check_DrugByID">

                <h3 class="text-center">Drug Details By Id</h3>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Drug_Id" class="control-label"></label>

                    <input asp-for="Drug_Id" type="number" name="id" class="form-control" />
                    <span asp-validation-for="Drug_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Get Drug Details" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>


        <div class="col-md-6">
            <form asp-action="Check_DrugByName">

                <h3 class="text-center">Drug Details By Name</h3>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Drug_Name" class="control-label"></label>

                    <input asp-for="Drug_Name" type="text" name="name" class="form-control" />
                    <span asp-validation-for="Drug_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Get Drug Details" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
